@forward "../setting/animation";
@use "../setting/variables"as v;
@use "../mixin/mixin"as m;


/*	ベース	*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  text-size-adjust: 100%;
  color: v.$white;
  background: v.$black;
  font-size: 1rem;
  line-height: 1.85;
  word-break: break-word;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: v.$white;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

/*	フォント関連	*/

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2,
.bl_gnav,
.bl_scrollDown span,
.bl_visual dt,
.bl_footer_info_logo {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .2em;
}

small,
.bl_footer_link {
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0;
}

/*	heading	*/
h2 {
  font-size: 2rem;
  margin-bottom: 50px;
  text-transform: uppercase;
}

/*	レイアウト関連	*/
.ly_cont {
  overflow-x: hidden;
  z-index: 1;
  position: relative;
  opacity: 0;
}

body.appear .ly_cont {
  opacity: 0;
  animation: displayAnime 3s .8s forwards;
}