@keyframes UpAnime {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
@keyframes DownAnime {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes scrollDown {
  0% {
    transform-origin: left;
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    transform-origin: left;
    height: 30px;
    opacity: 1;
  }
  100% {
    transform-origin: right;
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

@keyframes visualbgRLExtendAnime {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@keyframes LeftAnime {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes RightAnime {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

@keyframes servicebgRLextendAnime { 
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 80%;
  }
}

@keyframes displayAnime { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgLRextendAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

@keyframes bgRLextendAnime {
  0% {
    transform-origin: right;
    transform: scaleX(0);
  }
  50% {
    transform-origin: right;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: left;
  }
  100% {
    transform-origin: left;
    transform: scaleX(0);
  }
}