@forward "../setting/animation";
@use "../setting/variables"as v;
@use "../mixin/mixin"as m;

.ly_footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  opacity: .8;
  padding: 5%;
}

.bl_footer {
  &_info {
    width: 30%;
    letter-spacing: 0;
    &_logo {
      font-size: 1.5rem;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    address {
      font-style: normal;
      margin-bottom: 10px;
    }
    ul li {
      margin-bottom: 10px;
    }
    dl dt,
    dl dd {
      display: inline-block;
    }
    dl dt::after {
      content: ':';
      padding: 0 10px;
    }
  }
  &_link {
    width: 65%;
    ul {
      display: flex;
      flex-wrap: wrap;
      line-height: 2.5;
      li {
        margin: 0 20px;
      }
    }
    small {
      padding-top: 100px;
      display: block;
      text-align: right;
      color: #aaa;
    }
  }
}

@include m.mq(lg) {
  .ly_footer {
    justify-content: center;
    padding: 5% 0;
  }
  .bl_footer {
    &_info {
      width: 100%;
      padding-bottom: 5%;
      margin-bottom: 5%;
      text-align: center;
      border-bottom: 1px solid v.$gray;
      li:nth-of-type(2) {
        dt::after {
          content: '';
          padding: 0;
        }
        dd {
          display: block;
        }
      }
    }
    &_link {
      width: auto;
      ul {
        justify-content: center;
      }
      small {
        padding: 10% 0;
        text-align: center;
      }
      a {
        margin: 0;
      }
    }
  }
}

@include m.mq(xs) {
  .bl_footer_link ul li {
    margin: 0 10%;
  }
}