@forward "../setting/animation";
@use "../setting/variables"as v;
@use "../mixin/mixin"as m;

.ly_service {
  padding: 10% 0 10% 15%;
  &_area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10% 0 0 10%;
    position: relative;
    &::after {
      opacity: 0;
    }
    &.startwd::after {
      content: '';
      position: absolute;
      top: 10%;
      right: 0;
      width: 80%;
      height: 60vh;
      background-color: #232323;
      z-index: -1;
      animation: servicebgRLextendAnime .9s forwards ease-in-out;
    }
  }
}

.bl_serviceImg {
  position: relative;
  overflow: hidden;
  width: 30%;
  height: 60vh;
  &_img {
    height: 60vh;
    background: url("/src/img/01.jpg") no-repeat center;
    background-size: cover;
  }
}

@include m.mq {
  .ly_service {
    padding: 30% 0 10% 30px;
  }
}
@include m.mq(sm) {
  .ly_service_area section {
    width: 100%;
    margin-bottom: 100px;
    padding-right: 10%;
  }
  .bl_serviceImg,
  .bl_serviceImg_img {
    width: 100%;
    height: 40vh;
    background-position: right;
  }
  .bl_serviceImg {
    margin-bottom: 50px;
  }
}
@include m.mq(xs) {
  .ly_service_lead {
    padding-right: 10%;
    br {
      display: none;
    }
  }
}